body
{
  background-color: rgb(7, 6, 6);
}

.images{
  display:flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  height:200px;
  flex-wrap: wrap;
}
.c{
  background-color: #FF9F45;
  
}
.cpp{
  background-color: #ddff45;
}
.java
{
  background-color: #fa4eab;
}
.python
{
  background-color: #D3ECA7;
}
.dsa
{
  background-color: #C0D8C0;
}
.dbms
{
  background-color: #FFEEAD;
}
.card
{
  margin-top: 100px;
  margin-bottom: 100px;
  padding-bottom: 20px;
}


/* SCROLLBAR */
html::-webkit-scrollbar {
  width: 10px; 
}
html::-webkit-scrollbar-track {
  background-color: black;
}
html::-webkit-scrollbar-thumb {
  background: #4e4e4e;
  border-radius: 25px;
}
.fathersync::-webkit-scrollbar {
  width: 10px; 
}
.fathersync::-webkit-scrollbar-track {
  background-color: black;
}
.fathersync::-webkit-scrollbar-thumb {
  background: #4e4e4e;
  border-radius: 25px;
}
.mothersync::-webkit-scrollbar {
  width: 10px; 
}
.mothersync::-webkit-scrollbar-track {
  background-color: black;
}
.mothersync::-webkit-scrollbar-thumb {
  background: #4e4e4e;
  border-radius: 25px;
}

