.cprogg{
    color:white;
}
.CPPprogg{
    color:white;
}
.Javaprogg{
    color:white;
}
.Pythonprogg{
    color:white;
}
.DSA{
    color:white;
}
.DBMS{
    color:white;
}

/* CPROGG */
.heading1{
    margin-top: 10px;
}
.clist
{
    margin-right: 30px;
}
li {
    opacity: 1.0;
  }