.Harsh1{
    display: flex;
    flex-direction: row;
<<<<<<< HEAD
}
.Harsh2{
    border:1px solid black;
    width: 70%;
    height:750px;
}
.Harsh3{
    border:1px solid black;
    width:30%;
}
.ScrollableDiv{
    height: 620px;
=======
    color:white;

}
.Harsh2{
    border:1px solid white;
    width: 70%;
    height:950px;

}
.Harsh3{
    border:1px solid white;
    width:30%;
}
.ScrollableDiv{
    height: 830px;
>>>>>>> c90bd8a9db0fd4834beb48c037e0c4e7cfb52fad
    overflow:hidden;
    overflow-y: scroll;
}
.individualQuestion{
    text-align: start;
    padding-left: 20px;
    margin:10px;
<<<<<<< HEAD
    border:1px solid black;
=======
    border:1px solid white;
}

.body
{
  background-image: url("https://static.vecteezy.com/system/resources/previews/000/394/482/original/worldwide-connection-blue-background-illustration-vector.jpg");

}
.main
{
    margin:20px;
    background-color: rgba(0,0,0,0.1);
}
/* ASK QUES */
.askques
{
    margin-top:20px;
    height:100%;
    background-color: rgba(0,0,0,0.1);
    
    
>>>>>>> c90bd8a9db0fd4834beb48c037e0c4e7cfb52fad
}