.Harsh1{
    display: flex;
    flex-direction: row;
}
.Harsh2{
    border:1px solid black;
    width: 70%;
    height:750px;
}
.Harsh3{
    border:1px solid black;
    width:30%;
}
.ScrollableDiv{
    height: 620px;
    overflow:hidden;
    overflow-y: scroll;
}
.individualQuestion{
    text-align: start;
    padding-left: 20px;
    margin:10px;
    border:1px solid black;
}